@media only screen and (min-width: 64rem) {
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    nav ul li a {
        padding: .5rem 1rem;
    }
    nav button {
        display: none;
    }

    nav ul#primaryNavigation {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    /* HOME LAYOUT */
    .suite1, .suite2, .suite3 {
        display: block;
    }
    main.home-elements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto, repeat(3, 1fr);
        gap: .5rem;
        align-items: center;
    }
    .temples {
        grid-area: 1/1/2/3;
        margin: 0 auto;
        padding: 1rem;
    }
    section.home-image {
        grid-area: 2/1/3/2;
        margin: 0 auto;
    }
    .suite1 picture {
        grid-area: 2/2/3/3;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .temple-description div.temple-description-box {
        grid-area: 3/1/4/2;
        margin: 0 auto;
    }
    .suite2 picture {
        grid-area: 3/2/4/3;
        margin: 0 auto;
    }
    section.weather {
        grid-area: 4/1/5/2;
        margin: 0 auto;
    }
    .suite3 picture {
        grid-area: 4/2/5/3;
        margin: auto;
    }
    table.forecast-tb {
        margin-left: 26%;
        margin-right: 26%;
    }
    /* SERVICES PAGE */
    section.services-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        align-items: center;
    }
    .services h2 {
        text-align: center;
    }
    section.services-content {
        grid-area: 1/1/2/2;
    }
    div section.familyhistory {
        grid-area: 1/2/2/3;
        margin-top: 1rem;
    }
    div section.indoor-pool {
        grid-area: 2/1/3/2;
    }
    section.services-amenities {
        grid-area: 2/2/3/3;
    }
    div.missionary-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
    }
    section.missionary-content {
        grid-area: 1/1/2/2;
        width: 95%
    }
    div.couple1 section.missionary-couple1 {
        grid-area: 1/2/2/3;
    }
    section.missionary-content2 {
        grid-area: 2/1/3/2;
        padding: 1rem;
        border: 1px solid #fcbc0b;
        border-radius: .5rem;
        width: 95%
    }
    section.missionary-couple2 {
        grid-area: 2/2/3/3;
    }
    main.reception-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
    }
    .marriage {
        grid-area: 1/1/2/2;
    }
    .sealing-room {
        grid-area: 1/2/2/3;
    }
    #reception {
        grid-area: 2/1/3/2;
    }
    .catering   {
        grid-area: 2/2/3/3;
    }
    main.contacts-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .contacts-image {
        grid-area: 1/1/2/2;
    }
    iframe {
        grid-area: 2/1/3/2;
    }
    form.form {
        grid-area: 1/2/3/3;
    }

    .footer-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }
    picture.footer-img {
        grid-area: 1/1/2/2;
        width: 150%;
    }
    div.footer-social {
        grid-area: 1/2/2/3;
    }
    div.footer-social img {
        width: 10%;
    }
    div.footer-address {
        grid-area: 1/3/2/4;
    }
    div.footer-address img {
        width: 10%;
    }
    div.footer-info {
        grid-area: 1/4/2/5;
    }
    div.footer-update {
        grid-area: 2/1/3/5;
    }
}