@media only screen and (min-width: 37.5rem) {
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    nav ul {
        display: none;
    }
    
    nav ul.open {
        display: block;
    }
    header p.header-name {
        font-size: 1rem;
    }
    p.forecast-header {
        display: block;
    }
    table.forecast-tb {
        display: block;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    hr.weather {
        width: 60%;
      }
    .missionary-content picture img, .missionary-content2 picture img {
        border-radius: .25rem;
        margin: 1rem auto;
        width: 50%;
    }
    .missionary-content2 picture img:nth-child(2) {
        width: 45%;
        margin: 1rem .5rem;
    }
    .marriage picture img, #reception picture img {
        width: 100%;
    }
}