* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

main {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
}
/*-----HOME PAGE-----*/
* {
	max-width: 1500px;
	margin: 0 auto;
}

header {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
	align-items: center;
	background-color: #000080;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
	color: white;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: .5rem .5vw;
	border-top: 1px solid rgba(0, 0, 0, 0.9);
}

nav ul li.active {
	background-color: #191970;
}

.social, nav ul li a {
	align-items: end;
	text-align: center;
}

nav ul li a:hover {
	background-color: #191970;
	color: #FFCE45;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#hamburgerButton {
  border: 3px solid #FFCE45;
  padding: 0;
  margin: 0 auto;
}
#hamburgerButton span {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* padding: .5rem .5vw; */
}
#hamburgerButton span:nth-child(1) {
	display: block;
  font-size: 2rem;
  margin: 0 auto;
}

#hamburgerButton span:nth-child(2) {
	display: none;
  font-size: 2rem;
  margin: 0 auto;
}

#hamburgerButton.open span:nth-child(1) {
	display: none;
}

#hamburgerButton.open span:nth-child(2) {
	display: block;
}
nav ul.open {
	display: block;
}
.header-logo {
  grid-area: 1/1/2/2;
}
.header-name {
  grid-area: 1/2/2/3;
}
.header-social img {
  grid-area: 1/3/2/4;
  padding: 0 1rem;
}
header nav {
  grid-area: 1/4/2/5;
}
aside {
  grid-area: 2/1/3/5;
  color: white;
  background-color: #191970;
  border: 2px solid #FFCE45;
  text-align: center;
  padding: .5rem;
  width: 95%;
  margin: 0 auto;
}
.alerts {
  grid-area: 3/1/4/5;
}
.header-logo img {
  width: 60%;
  border-radius: 50%;
  display: block;
  margin: .5rem auto;
}
.social-1 img, .social-2 img, .social-3 img {
  width: 15%;
  border-radius: 50%;
}
/* #like-dislike span:nth-child(1) {
	display: block; */
/* } */
/* TEMPLE PAGE */
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: grey;
  }

a.panel-group_btn {
  color: #888;display:block;
}

a.like-btn {
    color: #888;
    font-size: 14px;
}


span.clicked {
  color: #00dfae; 
  font-weight:bold;
  background-color: red;
}
/* The Modal (background) */
/* Johannesburg Temple */
#myBtn {
  font-size: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Mexico city temple */
#myBtn2 {
  font-size: 20px;
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Chicago temple */
#myBtn3 {
  font-size: 20px;
  grid-area: 7/2/8/3;
  height: 100%;
  
}
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content3 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Freiberg temple */
#myBtn4 {
  font-size: 20px;
  grid-area: 7/4/8/5;
  height: 100%;
  
  
}
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content4 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Lisbon temple */
#myBtn5 {
  font-size: 20px;
  grid-area: 11/2/12/3;
  height: 100%;
  
  
}
.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content5 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close5 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Anchorage temple */
#myBtn6 {
  font-size: 20px;
  grid-area: 11/4/12/5;
  height: 100%;
  
  
}
.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content6 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
