* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

main {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    padding: .25rem;
    max-width: 1500px;
    width: 100%;
}
/*-----HOME PAGE-----*/
* {
	margin: 0 auto;
  max-width: 1500px;
}

header {
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto 1fr 1fr;
  grid-template-rows: 1fr auto;
	align-items: center;
	/* background-color: #00316E; */
	background-color: #00316E;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
	color: white;
  box-shadow: 0 5px 5px 0 #191970;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: .5rem .5vw;
	border-top: 1px solid rgba(0, 0, 0, 0.9);
}

nav ul li.active {
	background-color: #191970;
}

.header-social, nav ul li a {
	align-items: end;
	text-align: center;
}

nav ul li a:hover {
	background-color: #191970;
	color: #fcbc0b;
  border: 1px solid #fcbc0b; 
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerButton {
  border: 3px solid #fcbc0b;
  padding: 0;
  margin: 0 auto;
}

#hamburgerButton span {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#hamburgerButton span:nth-child(1) {
	display: block;
  font-size: 2rem;
  margin: 0 auto;
}

#hamburgerButton span:nth-child(2) {
	display: none;
  font-size: 2rem;
  margin: 0 auto;
}

#hamburgerButton.open span:nth-child(1) {
	display: none;
}

#hamburgerButton.open span:nth-child(2) {
	display: block;
}
nav ul.open {
	display: block;
}
.header-logo img, .header-name, .header-social img {
  max-width: 95%;
}
header p.header-name {
  margin-left: 10%;
  font-size: .8rem;
}
.header-logo {
  grid-area: 1/1/2/2;
}
.header-name {
  grid-area: 1/2/2/3;
}
.header-social img {
  grid-area: 1/3/2/4;
  padding: 0 1rem;
}
header nav {
  grid-area: 1/4/2/5;
}
h1.temples, p.temples {
text-align: center;
}
aside {
  grid-area: 2/1/3/5;
  color: white;
  background-color: #191970;
  border: 2px solid #fcbc0b;
  text-align: center;
  padding: .5rem;
  width: 95%;
  margin: .25rem auto;
}
div.alerts {
  grid-area: 3/1/4/5;
  color: white;
  background-color: #191970;
  border: 2px solid #fcbc0b;
  text-align: center;
  padding: 1rem;
  width: 95%;
  margin: .25rem auto;
}
.disclaimer {
  margin: 0 auto;
  font-size: .85rem;
  padding: .5rem 0;
  color: #fcbc0b;
}

.close-alert {
  padding: .25rem;
  border: 1px solid white;
  border-radius: .25rem;
  color: #191970;
  background-color: #fcbc0b;
}
.alert {
  margin-left: 3%;
}
.close-alert:hover {
  color: white;
  background-color: #191970;
  cursor: pointer;
  color: #fcbc0b;
}
div.alerts div:nth-child(2) {
  margin-top: 1rem;
}
.header-logo img {
  width: 10rem;
  border-radius: 50%;
  display: block;
  margin: .5rem auto;
}
.social-1 img, .social-2 img, .social-3 img {
  width: 5rem;
  border-radius: 50%;
}
p.temples {
  margin: 1rem auto;
}
.home-image {
  position: relative;
  margin: 1rem auto;
}
.temple-description {
  margin: 1rem auto;
}
button.action-call {
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 1rem;
  background-color: #fcbc0b;
  border-radius: .5rem;
}
button.action-call a {
  text-decoration: none;
  font-weight: 800;
}
button.action-call:hover, button#myRandomBtn:hover {
  background: radial-gradient(white, #fcbc0b);
}
p.forecast-header, table.forecast-tb {
  display: none;
}

section.suite1 picture div, section.suite2 picture div, section.suite3 picture div {
  margin: 1rem auto .5rem 1rem;
  font-weight: 900;
} 
/* ZOOM ON HOVER */
section.home-image figure, section.suite1, div.temple-description-box, section.suite2, section.suite3 {
  border: 1px solid #fcbc0b;
  overflow: hidden;
  position: relative;
}
section.home-image figure img#home-image,  div.temple-description-box picture img,section.suite1 picture img, section.suite2 picture img, section.suite3 picture img {
  width: 100%;
  transition: transform 0.1s ease;
}
section.home-image figure img#home-image:hover, section.suite1 picture img:hover,  div.temple-description-box picture img:hover,section.suite2 picture img:hover, section.suite3 picture img:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}
.sealing-room picture, .catering picture, .missionary-couple1 picture, .missionary-couple2 picture, .familyhistory picture, .indoor-pool picture, div.random-detail1, div.random-detail2, div.random-detail3, div.random-detail4, div.random-detail5, div.random-detail6 {
  overflow: hidden;
  position: relative;
} 
.sealing-room picture img, .catering picture img, .missionary-couple1 picture img, .missionary-couple2 picture img, .familyhistory picture img, .indoor-pool picture img, div.random-detail1 picture img, div.random-detail2 picture img, div.random-detail3 picture img, div.random-detail4 picture img, div.random-detail5 picture img, div.random-detail6 picture img{
  width: 100%;
  transition: transform 0.1s ease;
}
.sealing-room picture img:hover, .catering picture img:hover, .missionary-couple1 picture img:hover, .missionary-couple2 picture img:hover, .familyhistory picture img:hover, .indoor-pool picture img:hover, div.random-detail1 picture img:hover, div.random-detail2 picture img:hover, div.random-detail3 picture img:hover, div.random-detail4 picture img:hover, div.random-detail5 picture img:hover, div.random-detail6 picture img:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}
main img#home-image, picture img#random-suite1, main img#random-temple, picture img#random-suite2, picture img#random-suite3 {
  margin: 0 auto;
  display: block;
  width: 100%;
}
div.temple-description-box {
  position: relative;
}
div.random-detail {
  margin: 0 auto;
  display: block;
  color: #bed;
  padding: .5rem;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
}
/* Random Temple */
#myRandomBtn {
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: .2rem;
  background: radial-gradient(white, #98c2fb);
  border-radius: .5rem;
}
.randomModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.random-modal-content {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.randomClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.randomClose:hover,
.randomClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.panel-group_btn {
  color: #aaa;
  margin-left: 2.5%;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  margin-top: .5rem;
  padding: 1rem;
  border: 2px solid #aaa;
  border-radius: .5rem;
}

.fa:hover {
  color: #fcbc0b;
}

a.panel-group_btn {
  color: #888;
  display: block;
  border: 2px solid #888;
}

a.like-btn {
  color: #888;
  font-size: 14px;
}
div.like-button {
  padding: 1rem;
  border: 2px solid #888;
  width: 15%;
  border-radius: .5rem;
}

span.clicked {
color: red;
border-radius: .5rem;
padding: 1rem 0;
font-size: 1.5rem;
}

div.like-button {
margin: 2rem 0 3rem 0;
}
section.weather {
  margin-left: 2.5%;
  padding: 0;
}
.weather-header, div.weather-box, .forecast-header {
  text-align: center;
  padding: 0;
}
.weather-header {
  font-weight: 900;
}
div.weather-box p {
  padding-bottom: .5rem;
}
td.windspeed {
  padding-top: .5rem;
}
hr.weather {
  width: 75%;
}
section.weather {
  border: 1px solid #fcbc0b;
  padding: 1rem;
  background-color: #6893ee;
  margin: 1rem auto;
  width: 100%;
}
p.forecast-header {
  padding-top: .3rem;
}
.weather-attribution {
  font-size: .8rem;
  color: #000080;
  padding: .5rem 0;
}

/* ADDING A SOLID BORDER TO A TABLE ROW */
/* .forecast-tb {
  border-collapse: collapse;
}
.forecast-tb tr:nth-child(6) {
  border: 1px solid red;
  border-radius: .5rem;
} */

hr.footer-hr {
  width: 95%;
  margin: 1rem auto;
}
footer {
  width: 95%;
  background-color: #98c2fb;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.footer img {
  vertical-align: middle;
  margin-right: 2%;
}
picture.footer-img img {
  width: 15%;
  border-radius: .5rem;
}
div.footer-social img, div.footer-address img {
  width: 3%;
  border-radius: .5rem;
}
.footer-items div p a {
  text-decoration: none;
} 
.footer-items div p a:hover {
  color: #fcbc0b;
}
/* TEMPLE PAGE */
/* The Modal (background) */
/* Johannesburg Temple */
#myBtn {
  font-size: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Mexico city temple */
#myBtn2 {
  font-size: 20px;
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Chicago temple */
#myBtn3 {
  font-size: 20px;
}
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content3 {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Freiberg temple */
#myBtn4 {
  font-size: 20px;
}
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content4 {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Lisbon temple */
#myBtn5 {
  font-size: 20px;
}
.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content5 {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close5 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Anchorage temple */
#myBtn6 {
  font-size: 20px;
}
.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content6 {
  background-color: #bed;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 20px;
}

/* The Close Button */
.close6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal overlay */
.random-detail1, .random-detail2, .random-detail3, .random-detail4, .random-detail5, .random-detail6 {
  position: relative;
}
button#myBtn, button#myBtn2, button#myBtn3, button#myBtn4, button#myBtn5, button#myBtn6  {
  position: absolute;
  bottom: 5%;
  left: 2%;
  padding: .2rem;
  background: radial-gradient(white, #98c2fb);
  border-radius: .5rem;
}
button#myBtn:hover, button#myBtn2:hover, button#myBtn3:hover, button#myBtn4:hover, button#myBtn5:hover, button#myBtn6:hover {
  background: radial-gradient(white, #fcbc0b);
}
main.temples section {
  margin: .5rem auto;
  border-radius: .5rem;
}
section.temple-description1, section.temple-description2, section.temple-description3, section.temple-description4, section.temple-description5, section.temple-description6 {
  padding: 1rem 0;
  border: 1px solid #fcbc0b;
}
picture img#random-temple1, picture img#random-temple2, picture img#random-temple3, picture img#random-temple4, picture img#random-temple5, picture img#random-temple6 {
  margin: .5rem auto;
  display: block;
  max-width: 37.5rem;
  width: 100%;
}
span#like1 i, span#like2 i, span#like3 i, span#like4 i, span#like5 i, span#like6 i {
  padding: 1rem;
}
span#random-name1, span#random-name2, span#random-name3, span#random-name4, span#random-name5, span#random-name6 {
  padding-left: 2%;
  font-weight: 900;
}
main.temples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: .5rem;
}
/* RESERVATIONS PAGE */
section.banner {
  border: 1px solid #fcbc0b;
  border-radius: 10px;
  padding: .5rem 2%;
  width: 95%;
  margin: 1rem auto;
}
section.banner picture img {
  width: 100%;
}
section.banner div {
  margin: 1rem 0;
  font-weight: 900;
}
.main-form h1 {
  margin: 1rem auto;
  text-align: center;
}

.form {
  max-width: 37.5rem;
	background-color: #eee;
	padding: 2%;
	/* margin: 2%; */
	border-radius: 10px;
  width: 95%;
  margin: 1rem auto;
}

form fieldset {
    margin: .5rem 0;
    border: 1px solid #fcbc0b;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #000080;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem; /*Ensures that the input field is at least 44px tall for easy touching on the a mobile device*/
    color: #555;
    width: 100%;
    max-width: 25rem;
    background-color: rgba(0, 0, 0, 0.1);
}
textarea {
	height: 20rem;
	border: solid 2px #999;
}

form label.side {
    display: block;
    padding: .75rem 0; /*Ensures that the input field is at least 44px tall for easy touching on the a mobile device*/
    color: #555;
}

div.membership-buttons {
	display: flex;
	flex-direction: column;
}

div.membership-details {
	display: none;
}

form input.submitBtn {
    border: none;
    background-color: #0B3948;
    color: white;
    border-radius: 4px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: 3px solid red;
}
form label.top input:required:valid {
    border-left: 3px solid green;
}

/* SERVICES PAGE */
.services {
  margin: 1rem auto;
}
section.services-content, div .services.familyhistory, .services-amenities, div section.indoor-pool {
  margin: 1rem auto;
}
.services section h2 {
  padding: 1rem 0;
  text-align: center;

}
section.services-content, section.services-amenities {
  border: 1px solid #fcbc0b;
  background-color: #bed;
  border-radius: .5rem;
  padding: 1rem;
  line-height: 1.5rem;
  width: 95%;
}
section.services-amenities {
  line-height: 3rem;
}
.familyhistory, .indoor-pool {
  border: 1px solid #fcbc0b;
  border-radius: .5rem;
  padding: 1rem;
  width: 95%;
}
.familyhistory picture img, .indoor-pool picture img {
  width: 100%;
}
.familyhistory picture div, .indoor-pool picture div {
  margin: 1%;
  font-weight: 900;
}

/* MISSIONARY PAGE */
.missionary-page {
  margin: 1rem auto;
}
.standard {
  background-color: #bed;
}
.author {
  display: block;
  font-weight: 900;
}
.missionary-couple1, .missionary-couple2 {
  width: 95%;
  border: 1px solid #fcbc0b;
  border-radius: .5rem;
  padding: 1rem;
  display: block;
  margin: 1rem auto;
}
.missionary-couple1 picture img, .missionary-couple2 picture img {
  width: 100%;
}
.missionary-couple1 picture figcaption, .missionary-couple2 picture figcaption {
  margin: 1%;
  font-weight: 900;
} 
section.missionary-content {
  border: 1px solid #fcbc0b;
  border-radius: .5rem;
  padding: 1rem;
  line-height: 1.5rem;
  margin: 1rem auto;
}
section.missionary-content2 {
  border: 1px solid #fcbc0b;
  background-color: #bed;
  border-radius: .5rem;
  padding: 1rem;
  line-height: 1.5rem;
  margin: 1rem auto;
}
.missionary-content p:nth-child(2) {
  padding: 1rem 0;
  /* font-weight: 600; */
}
.missionary-couple1, .missionary-content, .missionary-content2 .missionary-couple2 {
  padding: 1rem;
  margin: 1rem auto;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  width: 95%;
}
.missionary-content picture img, .missionary-content2 picture img {
  border-radius: .25rem;
  margin: 1rem auto;
  width: 100%;
}

/* RECEPTION PAGE */
section.marriage {
  width: 95%;
  border: 1px solid #fcbc0b;
  background-color: #bed;
  border-radius: .5rem;
  padding: 1rem;
  line-height: 1.5rem;
  display: block;
  margin: 1rem auto;
}
section.marriage p span.author {
  display: block;
  padding: 1rem 0;
  font-weight: 600;
}

.sealing-room, .catering {
  width: 95%;
  border: 1px solid #fcbc0b;
  border-radius: .5rem;
  padding: 1rem;
  display: block;
  margin: 1rem auto;
}
.sealing-room picture img, .catering picture img {
  width: 100%;
}
#reception {
  width: 95%;
  border: 1px solid #fcbc0b;
  background-color: #bed;
  border-radius: .5rem;
  padding: 1rem;
  line-height: 1.5rem;
  display: block;
  margin: 1rem auto;
}
.sealing-room picture figcaption, .catering picture figcaption {
  margin: 1%;
  font-weight: 900;
}
.marriage picture img, #reception picture img {
  border-radius: .5rem;
  margin: 1rem 1rem 1rem auto;
  width: 100%;
}

/* CONTACTS PAGE */
iframe, picture.contacts-image {
  width: 95%;
  border: 1px solid #fcbc0b;
  border-radius: .5rem;
  padding: 1rem;
  display: block;
  margin: 1rem auto;
}
.contacts-page form {
  width: 95%;
  margin: 1rem auto;
}
picture.contacts-image img {
  width: 100%;
}
picture.contacts-image figcaption {
  margin: 1%;
  font-weight: 900;
}
main.thanks {
  text-align: center;
  padding: .5rem;
  background-color: #bed;
}