@media only screen and (min-width: 32.5em) {
    header {
        
        background-color: #4c9cc9;
        border-radius: .1em;   
    }
    
    footer {
        background-color: #4c9cc9;
        border-radius: .1em;  
    }
}