@media only screen and (min-width: 64rem) {
    nav ul li a {
        padding: .5rem 1rem;
    }
    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    .social {
        grid-area: 1/4/2/5;
    }
    #primaryNav {
        grid-area: 1/3/2/4;
    }
    
    .boxes {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        gap: .25rem;
        /*height: 45rem;*/
    }
    .event-weather {
        grid-area: 1/1/3/2;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        height: 29rem;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    .hero {
        grid-area: 1/2/3/3;
        margin: .25rem auto;
        align-items: center;
        height: 27rem;
        width: 94%;
        align-items: stretch;
    }
    .join {
        grid-area: 3/1/4/2;
        margin: .25rem auto;
        margin-top: 0;
        width: 85%;
        height: 10rem;
    }
    
    .news {
        grid-area: 3/2/4/3;
        margin: .25rem auto;
        width: 93%;
        height: 10rem;
    }
    
    /*.event-weather {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-top: .25rem;
        margin-bottom: .25rem;
        padding: 0;
        justify-content: start;
        align-content: start;
        width: 95%;
        height: 29.5rem;
    }*/
    .event {
        grid-area: 1/1/2/2;
        margin: .1rem auto;
        align-items: start;
        width: 90%;
        height: 12rem;
    }
    .weather {
        grid-area: 2/1/3/2;
        margin: .1rem auto;
        align-items: end;
        width: 90%;
        height: 12rem;
    }
    .spotlight {
        grid-area: 1/3/4/4;
        display: flex;
        flex-direction: column;
        margin: .25rem auto;
        gap: 0;
        padding: 0;
        width: 95%;
        height: 100%;
        
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    .spotlight1,.spotlight2,.spotlight3 {
        height: 15rem;
        width: 80%;
        margin: .25rem auto;
    	
    }
}