* {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
/*------------*/
/* HOME PAGE */
header {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	background-color: #0B3948;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
	color: white;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: .8rem 2vw;
	border-top: 1px solid rgba(0, 0, 0, 0.9);
}

nav ul li.active {
	background-color: #416165;
}

.social, nav ul li a {
	align-items: end;
	text-align: end;
	margin-right: 0;
	padding-right: 0; 
}

nav ul li a:hover {
	background-color: #416165;
	color: hotpink;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer a:hover {
	background-color: #416165;
	color: hotpink;
}
.footer a {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: white;
}

picture img, div img {
	border-radius: .5em;
}

picture .wdd230img {
	display: block;
	width: 46%;
	margin: 0 2%;
}
picture .wdd230img img {
	width: 100%;
}
nav button {
	margin: .2rem 2vw;
	background: transparent;
	border: none;
	font-size: 2rem;
	color: white;
}

.banner {
	background-color: #416165;
    padding: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border-radius: .5em;
	grid-column: 1/5;
}
.message {
	margin: .5rem 2vw;
	padding: 5px;
	background-color: #416165;;
	color: red;
}
p {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
	display: flex;
	flex-direction: column;
	gap: .1rem;
	width: 95%;
}

/* Placing the image and text in small screens */
.hero, .join {
	position: relative;
	text-align: center;
	color: #0B3948;
	font-family: 'Montserrat', sans-serif;
}
.action-call {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: radial-gradient(#eee, #0B3948);
	border: 1px solid #eee;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .8;
	border-radius: .5rem;
}
.action-call p {
	font-family: 'Montserrat', sans-serif;
}
.join-text {
	margin-top: 30%;
}

.join-action {
	position: absolute;
	top: 25px;
	left: 19.5%;
	background: radial-gradient(#eee, #0B3948);
	border: 1px solid #eee;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .8;
	border-radius: .5rem;
	width: 50%;
}
.top-left {
	position: absolute;
	top: 5%;
	left: 5%;
	
  }
.top-left h1 {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px black;
}

/* ---------------*/ 
.hero,.news,.spotlight,.join,.event,.weather {
	margin: .25rem auto;
	padding: 1rem;
	width: 95%;
	text-align: center;
	border: 1px solid black;
	background-color: #416165
}
.hero img {
	width: 100%;
	/*max-height: 100%;*/
	display: block;
	border-radius: 0;
}
.hero {
	padding: 0;
	width: 100%;
}

.weather-box {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
}

.spotlight {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 0;
}
.spotlight1,.spotlight2,.spotlight3 {
	margin: .25rem auto;
	padding: 1rem;
	width: 95%;
	text-align: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
.spotlight3 {
	display: none;
}

.spotlight1 h2, .spotlight2 h2, .spotlight3 h2 {
	font-family: 'Montserrat', sans-serif;
	color: black;
}
.spotlight1 h3, .spotlight2 h3, .spotlight3 h3 {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.spotlight1 p, .spotlight2 p, .spotlight3 p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.news-header, .event-header, .weather-temp, .weather-header {
	text-align: center;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: black;
}
.news-text, .event-text, .event-text1, .weather p, .weather-box,.weather-temp,.weather-tb, .join-text{
	color: white;
	padding: .5rem;
}

table td {
	font-family: 'Roboto', sans-serif;
}
.event-text1 a {
	color: white;
}
footer,.footer-items {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	background-color: #0B3948;
	margin: 0 auto;
    border-radius: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color: white;
}

.footer-img,.footer {
	border-radius: .5em;
	margin-top: .25rem;
}

.footer a {
	text-decoration: none;
}

.lastmod {
	margin: .25rem auto;
	padding: 0;
}

hr {
	color: white;
	width: 95%;
}

nav ul {
	display: none;
}

nav ul.open {
	display: block;
}

#hamburgerBtn span:nth-child(1) {
	display: block;
}

#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}

#hamburgerBtn.open span:nth-child(2) {
	display: block;
}

/*---------------*/
/* DISCOVER PAGE */
.discover {
	max-width: 300px;
}

.discover.discover-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;	
}

.discover h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.discover-gallery {
	width: 300px;
	border: 1px solid grey;
	text-align: center;
	margin: 5px;
}

.discover-img img {
	border-radius: 0;
	width: 100%;	
}

.img-detail {
	font-family: 'Roboto', sans-serif;
}
