* {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
table {
    margin: 1rem auto;
    width: 300px;
    font-size: 1rem;
    line-height: 1.5em;
    box-shadow: 15px 15px 15px 0 #96B7D6;
}

th, td {
    border: 1px solid grey;
}
.table-headers th {
    color: #fff;
}
.table-headers1:nth-child(n) {
    background-color: #00a6d7;
}
tbody tr:nth-child(even) {
    background-color: #C5FCF9;
}
.child:nth-child(3) {
    background-color: #00a6d7;
}

@media only screen and (min-width: 37.5em) {
    table {
        margin: 5rem auto;
        width: 600px;
        font-size: 2rem;
        line-height: 2.5em;
    }
}